# Python cache
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Conda
.env
.venv

# Docker
*.log

# VS Code
.vscode/

# System files
.DS_Store
Thumbs.db

# Temporary files
temp/
tmp/

# Streamlit cache
.streamlit/secrets.toml

# Database cache
*.db